body {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  margin-top: 480px;
  margin-bottom: auto;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 30px;
  color: #fff;
  text-shadow: 0 0 10px rgba(220, 20, 60, 0.8), 0 0 20px rgba(220, 20, 60, 0.8),
    0 0 30px rgba(220, 20, 60, 0.8), 0 0 40px rgba(220, 20, 60, 0.8),
    0 0 50px rgba(220, 20, 60, 0.8), 0 0 60px rgba(220, 20, 60, 0.8),
    0 0 70px rgba(220, 20, 60, 0.8);
  animation: colorChange 5s infinite;
}

@keyframes colorChange {
  0% {
    color: #ff0000;
  }
  5% {
    color: #df0000;
  }
  10% {
    color: #b40000;
  }
  15% {
    color: #880000;
  }
  20% {
    color: #740000;
  }
  25% {
    color: #490000;
  }
  30% {
    color: #3b0000;
  }
  35% {
    color: #000000;
  }
  40% {
    color: #3a0000;
  }
  45% {
    color: #680000;
  }
  50% {
    color: #8f0000;
  }
  55% {
    color: #ac0000;
  }
  60% {
    color: #c90000;
  }
  65% {
    color: #ff0000;
  }
  70% {
    color: #b60000;
  }
  75% {
    color: #8f0000;
  }
  80% {
    color: #7e0000;
  }
  85% {
    color: #5a0000;
  }
  90% {
    color: #4b0000;
  }
  95% {
    color: #330000;
  }
  100% {
    color: #000000;
  }
}
